<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="StandardBinding" closeTimeout="00:00:05" openTimeout="00:00:10" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824">
          <readerQuotas maxStringContentLength="1073741824"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5353/ServerService/" binding="ws2007HttpBinding" bindingConfiguration="StandardBinding" contract="SEComm.IServerService" name="ServerService" kind="" endpointConfiguration="">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
