<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetBinding="webHttpBinding"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="StandardBinding" closeTimeout="00:00:05" openTimeout="00:00:10" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824">
          <readerQuotas maxStringContentLength="1073741824"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="StandardBehavior" name="SEServerExtender.ServerService.ServerService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="StandardBinding" contract="SEComm.IServerService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5353/ServerService/"/>
          </baseAddresses>
          <timeouts openTimeout="00:00:10"/>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="WCFChatMaxMessageHistoryAge" value="3600"/>
    <add key="WCFChatMaxMessageHistoryCount" value="100"/>
  </appSettings>
</configuration>
