<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetBinding="webHttpBinding"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="StandardBinding" closeTimeout="00:00:05" openTimeout="00:00:10" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824">
          <readerQuotas maxStringContentLength="1073741824"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="StandardBehavior" name="SEServerExtender.ServerService.ServerService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="StandardBinding" contract="SEComm.IServerService"/>
        <host>
          <timeouts openTimeout="00:00:10"/>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="WCFChatMaxMessageHistoryAge" value="3600"/>
    <add key="WCFChatMaxMessageHistoryCount" value="100"/>
    <add key="WCFServerServiceBaseAddress" value="http://localhost:5353/ServerService/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
