<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" layout="${longdate}|${level}|${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}|${message}${onexception:inner=${newline}    |${exception:innerFormat=Message,Type,Method,StackTrace:maxInnerExceptionLevel=3:format=ToString}}" name="ChatLog" fileName="${basedir}\logs\ChatLog-${shortdate}.log"/>
    <target xsi:type="File" layout="${longdate}|${level}|${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}|${message}${onexception:inner=${newline}    |${exception:innerFormat=Message,Type,Method,StackTrace:maxInnerExceptionLevel=3:format=ToString}}" name="BaseLog" fileName="${basedir}\logs\SEServerExtenderLog-${shortdate}.log"/>
    <target xsi:type="ColoredConsole" layout="${longdate}|${level}|${message}${onexception:inner=${newline}    |${exception:innerFormat=Message,Type,Method,StackTrace:maxInnerExceptionLevel=3:format=ToString}}" name="ConLog" />
  </targets>

  <rules>
    <logger name="ConLog" minlevel="Debug" writeTo="ConLog" />
    <logger name="ChatLog" minlevel="Debug" writeTo="ChatLog,ConLog" />
    <logger name="BaseLog" minlevel="Debug" writeTo="BaseLog,ConLog" />
  </rules>
</nlog>